<div class="col">
    <div class="card" style="width: 12rem;">
        <div class="card-body">
            <h5 class="card-title">{{last_activity["activities"]}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{last_activity["activitiesType"]}}</h6>
            <div class="row">
                <div class="col">
                    <p class="card-link">Activity price : {{last_activity["price"]}}</p>
                </div>
                <div class="col">
                    <p class="card-link">Participants: {{last_activity["participants"]}}</p>
                </div>
            </div>
 
        </div>
    </div>
</div>