
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Hi There!</h3>
            <p>Thank you for giving me the chance of showing you of what I am capable of doing .</p>
            <p>I have developed this site just as a showcase of the technology stack that you require to work at Tracasa. Hopefully you will find appealing enough to meet your expectations. </p>
            <h4>-Ander</h4>
        </div>
        <div class="col">
            <app-techstack></app-techstack>
        </div>
    </div>
</div>


