
<div class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1 class="landing-title">Hey, I'm Ander <br> a self taught  <kbd><code>Software Developer</code></kbd>  </h1>
                <p class = "mt-4">Thank you for giving me the chance of showing you of what I am capable of doing.</p>
                <p>I have developed this site just as a showcase of the technology stack that you require to work at Tracasa. Hopefully you will find appealing enough to meet your expectations. </p>
                <h4>-Ander</h4>
                <a class="email-link mt-4" href="mailto:ander.cilveti.alvarez@gmail.com">ander.cilveti.alvarez@gmail.com</a>
            </div>
            <div class="col-3 ">
                <app-techstack></app-techstack>
            </div>
        </div>
    </div>
    
</div> 
<app-graphical></app-graphical>


