
<h3>This is our Angular application interacting with a 3rd party API</h3>

<div class="flex-container row">  
    
    <div class="col">
        
        <p>We will be fetching some anti-boredom proposals through the api <code>BOREDAPI</code></p>    
        <button (click)="onButtonClick()" type="button" class="btn btn-outline-primary" >Next idea</button>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">{{activity}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{activity_type}}</h6>
            <div class="row">
                <div class="col">
                    <p class="card-link">Activity price : {{activity_price}}</p>
                </div>
                <div class="col">
                    <p class="card-link">Participants: {{activity_participants}}</p>
                </div>
            </div>
            
            
            </div>
        </div>
    </div>
</div>

<h3>Now is the time of a little backend demostration</h3>
<p>A quick demostration of .NET and C# capabilities for server side applications. It shows the last elements stored in the database. For this we are going to used the values fetched by the BOREDAPI. <br> Powered with SQLite and Entity Framework</p>
<app-activities-cards [last_activity]="resp[0]"></app-activities-cards>
<app-activities-cards [last_activity]="resp[1]"></app-activities-cards>
<app-activities-cards [last_activity]="resp[2]"></app-activities-cards>
<app-activities-cards [last_activity]="resp[3]"></app-activities-cards>
<app-activities-cards [last_activity]="resp[4]"></app-activities-cards>
